<div class="container">
  <div class="row p-3">
    <% current_user.owned_plants.each do |plant| %>
    <div class="col-lg-4 col-sm-12">
      <div class="card my-3">
        <% plant.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: 'card-img-top' %>
        <% end %>
        <%# <%= image_tag 'succulent', class: 'card-img-top' %>
          <div class="card-body">
          <h3 class="card-text"> <%= plant.species %></h3>
          <h2 class="card-title"><%= plant.name %></h2>
          <p class="card-address"><strong><%= plant.address %></strong></p>
          <p class="card-text"> <%= plant.description %></p>
          <p class="card-text"> <%= plant.price %>€/ day</p>
          <%= link_to "Update", edit_plant_path(plant), class:'btn btn-warning' %>
          <%= link_to "Destroy", @plant, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
      </div>
    </div>
      </div>
    <% end %>
  </div>
</div>
