<div class="container">
  <div class="bookings-placed border-bottom border-primary my-4">

      <h1 class="p-3">Bookings placed</h1>
      <div class="row">
            <% @bookings.each do |booking| %>
            <div class="col-lg-6 col-sm-12">
              <div class="card my-3" id="dash-card">
              <div class="top-card">
                  <h4 class="inside-top-card">From <%= booking.start_date %> to <%= booking.end_date %></h4>
              </div>
              <%= link_to plant_path(booking.plant) do %>
              <%= cl_image_tag booking.plant.photos.first.key, class: 'card-img-top' %>
              <%#= image_tag 'succulent', class: 'card-img-top' %>
                <div class="card-body d-flex">
                <div class="title pr-4">
                  <h3 class="card-text"> <%= booking.plant.species %></h3>
                  <h2 class="card-title"><%= booking.plant.name %></h2>
                  <% booking_days = booking.end_date - booking.start_date %>
                </div>
                <div class="description mx-4">
                  <p class="card-text mb-4 pb-4 border-bottom border-cool"> <%= booking.plant.description %></p>

                    <div class="booking-details d-flex">
                      <div class="price-tag-dash">
                        <p><%= booking_days.to_i * booking.plant.price %>€/day</p>
                      </div>
                      <div class="rental-duration">
                        <p>For <%= booking_days.to_i %> days</p>
                      </div>
                    </div>

                  <p class='my-4'>From <%= booking.plant.user.email.capitalize.match(/^\w*/) %> | <%= booking.plant.user.email %></p>
                </div>
                </div>
            </div>
                <% end %>
            </div>
            <% end %>
  </div>
</div>
  <div class="bookings-received">
      <h1 class="p-3">Bookings received</h1>

      <div class="row">
            <% @bookings_received.each do |booking| %>
            <% if booking.plant.user.email == current_user.email %>
            <div class="col-lg-6 col-sm-12">
              <div class="card my-3" id="dash-card">
              <div class="top-card-book-received">
                  <h4 class="inside-top-card">From <%= booking.start_date %> to <%= booking.end_date %></h4>
              </div>
              <%= link_to plant_path(booking.plant) do %>
              <%= cl_image_tag booking.plant.photos.first.key, class: 'card-img-top' %>
              <%#= image_tag 'succulent', class: 'card-img-top' %>
                <div class="card-body d-flex">
                <div class="title pr-4">
                  <h3 class="card-text"> <%= booking.plant.species %></h3>
                  <h2 class="card-title"><%= booking.plant.name %></h2>

                </div>
                <div class="description mx-4">
                  <p class="card-text  mb-4 pb-4 border-bottom border-cool"> <%= booking.plant.description %></p>

                  <div class="booking-details d-flex">
                      <div class="price-tag-dash" id="out-rented">
                        <% booking_days = booking.end_date - booking.start_date %>
                        <p><%= booking_days.to_i * booking.plant.price %>€/day</p>
                      </div>
                      <div class="rental-duration">
                        <p>For <%= booking_days.to_i %> days</p>
                      </div>
                    </div>

                  <p class="my-4">Rented by <%= booking.user.email.capitalize.match(/^\w*/) %> | <%= booking.user.email %></p>
                </div>
                </div>
            </div>
                <% end %>
                <% end %>
            </div>
            <% end %>
  </div>

</div>
