<div class="container">
<h1 class="py-4">My plants</h1>
  <div class="row p-3">
    <% current_user.owned_plants.each do |plant| %>
    <div class="col-lg-4 col-sm-12">
      <div class="card my-3">
        <%= link_to plant_path(plant) do%>
        <%# plant.photos.each do |photo| %>
          <%= cl_image_tag plant.photos.first.key, class: 'card-img-top' %>
        <%# end %>
        <%# <%= image_tag 'succulent', class: 'card-img-top' %>
          <div class="card-body">
          <h3 class="card-text"> <%= plant.species %></h3>
          <h2 class="card-title"><%= plant.name %></h2>
          <p class="card-address"><strong><%= plant.address %></strong></p>
          <p class="card-text"> <%= plant.description %></p>
          <div class="booking-details d-flex">
            <div class="rental-duration mb-3">
              <p><%= plant.price %>€/day</p>
            </div>
          </div>
          <%= link_to "Update", edit_plant_path(plant), class:'btn btn-ghost' %>
          <%= link_to "Delete", @plant, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-ghost' %>
      </div>
      <% end %>
    </div>
      </div>
    <% end %>
  </div>
</div>
