<div class="container">

  <div class="d-flex justify-content-center" id='hero' >

    <div class="hero-left">
      <h1 class="my-4">Green up your space</h1>
      <p class="my-4">Easy plant rental for those without roots.</p>
      <%= form_tag plants_path, method: :get do%>
        <%= text_field_tag :query, params[:query], class: "form-control my-2", placeholder: "Look for a plant" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <%end%>

      <%#= simple_form_for :search, url: plants_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%#= f.input :category, input_html: {value: ""}, label: false, class: 'form-control-lg' %>
      <%#= f.submit "Search", class: "btn btn-primary" %>
  <%# end %>


    </div>


    <div class="hero-right">
      <div>
        <%= image_tag "releaf-homepage.png", class: 'hero-image' %>
        <%# <%= video_tag "plant-on-table.mp4", class:'hero-image' %>
      </div>
    </div>

  </div>
</div>

<div class="home-features">
  <div class="container">
    <h2>How it works</h2>
    <%# <div class="feature-container"> %>
      <div class="row align-items-start mx-auto">
          <div class="p-3 col-lg-3 col-12 mx-auto"  id='feature'>
          <i class="fas fa-search" id="feature-icon"></i>
            <h3>Browse</h3>
              <p class="">
                Browse available plants for your selected timeframe.
              </p>
            </div>
            <div class="p-3 col-lg-3 col-12 mx-auto" id='feature'>
              <i class="fas fa-check"></i>
                <h3>Book</h3>
                  <p class="">
                    Pick your new bud-dy up from the owner.
                  </p>
            </div>
            <div class="p-3 col-lg-3 col-12 mx-auto" id='feature'>
            <i class="fas fa-seedling"></i>
              <h3>Enjoy</h3>
              <p class="">
                Settle into your space with your new, green friend.
              </p>
            </div>
        </div>
    <%# </div> %>
  </div>
</div>
