
<div class="container">
<div class="index-top d-flex justify-content-xl-between py-3">

  <%#= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%#= f.input :category, input_html: {value: ""}, label: false, class: 'form-control-lg', id:"search_category" %>
    <%#= f.submit "Search", class: "btn btn-primary" %>
  <%# end %>

    <%= form_tag plants_path, method: :get, class: 'form-inline' do%>
        <%= text_field_tag :query, params[:query], class: "form-control-lg", id:"search_category", placeholder: "Look for a plant" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <%end%>

  <% if policy(Plant).create? %>
    <%= link_to "Add a new plant", new_plant_path, class: 'btn btn-primary my-auto' %>
  <% end %>
</div>
  <div id="map"
    style="width: 100%; height: 300px; background-color: #9e9247;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
    <div class="row p-3">
      <% @plants.each do |plant| %>
          <div class="col-lg-4 col-sm-12">
            <div class="card my-3" id='index-card'>
            <div class="price-tag">
              <p><%= plant.price %>€</p>
            </div>
              <%= link_to plant_path(plant) do %>
              <% if plant.photos.attached? %>
                <%= cl_image_tag plant.photos.first.key, class: 'card-img-top' %>
              <% else %>
                <%= image_tag 'succulent', class: 'card-img-top' %>
              <% end %>
                <div class="card-body">
                  <h3 class="card-text"> <%= plant.species %></h3>
                  <h2 class="card-title"><%= plant.name %></h2>


                  <p class="card-text"> <%#= plant.description %></p>
                    <% if policy(plant).edit? %>
                    <%= link_to "Edit", edit_plant_path(plant), class: 'btn-ghost' %>
                    <%= link_to "Delete", plant, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn-ghost' %>
                    <% end %>
                </div>
          <% end %>
         </div>
        </div>
      <% end %>
      </div>
   </div>
