<div class="container" >

  <%= link_to "Back", plants_path, class: "btn btn btn-success mt-3" %>
  <div class="plant-content d-sm-flex align-content-center flex-wrap">
    <div class="plant-image">
    <%= cl_image_tag @plant.photos.first.key, class:'plant-show-image' %>
      <%#= image_tag 'succulent.jpg', class:'plant-show-image' %>
    </div>

    <div class="plant-info my-auto bd-highlight">
      <h3><%= @plant.species %></h3>
        <h2><%= @plant.name %></h2>
        <p><strong><%= @plant.address %></strong></p>
        <p><%= @plant.description %></p>
    <hr>


    <div class="show-buttons">
      <% if @plant.user_id == current_user.id %>
        <%= link_to "Update", edit_plant_path(@plant), class:'btn btn-warning' %>
        <%= link_to "Destroy", @plant, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %> %>
      <% else %>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Book now
      </button>
      <%= link_to 'Add a review', new_plant_review_path(@plant) %>
      <% end %>
    </div>
    <div class="show-reviews">
      <% @reviews_last.each do |rev| %>
        <p><strong><%= rev.user.email %>
        <br>
        </strong><em>Review: "<%= rev.content %>"</em> |
        Rating: <strong><%= rev.rating%></strong>⭐</p>
      <% end %>
    </div>
    </div>
  </div>

  <div class="show-gallery">
    <div class="row p-3">
      <% @plant.photos.all.each do |photo| %>
        <div class="col-lg-1 col-sm-12">
          <%= link_to '#plant-gallery-image', 'data-toggle' => 'modal' do %>
            <%= cl_image_tag photo.key, class:'plant-gallery-image' %>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>
</div>

<%= render 'modal_new', plant: @plant, booking: @booking %>
<%= render 'modal_gallery', plant: @plant %>
