<div class="container" >

  <%= link_to "Back", plants_path, class: "btn btn btn-success mt-3" %>
  <div class="plant-content d-sm-flex align-content-center">
    <div class="plant-image">
    <%= cl_image_tag @plant.photos.first.key, class:'plant-show-image' %>
      <%#= image_tag 'succulent.jpg', class:'plant-show-image' %>
    </div>

    <div class="plant-info my-auto bd-highlight">
      <h3><%= @plant.species %></h3>
        <h2><%= @plant.name %></h2>
        <p><strong><%= @plant.address %></strong></p>
        <p><%= @plant.description %></p>
        <div class="booking-details d-flex">
            <div class="rental-duration mb-2">
              <p><%= @plant.price %>€/day</p>
            </div>
          </div>

    <hr>


    <div class="show-buttons">
      <% if @plant.user_id == current_user.id %>
        <%= link_to "Edit", edit_plant_path(@plant), class:'btn btn-ghost' %>
        <%= link_to "Delete", @plant, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-ghost' %>
      <% else %>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Book now
      </button>
      <%= link_to 'Add a review', new_plant_review_path(@plant), class:"btn btn-outline-danger ml-2" %>
      <% end %>
    </div>
    </div>
  </div>

  <div class="show-gallery">
    <div class="row p-3">
      <% @plant.photos.all.each do |photo| %>
        <div class="col-lg-1 col-sm-12">
          <%= link_to '#plant-gallery-image', 'data-toggle' => 'modal' do %>
            <%= cl_image_tag photo.key, class:'plant-gallery-image' %>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>

    <div class="show-reviews m-3">
      <% @reviews_last.each do |rev| %>
      <div class="review">
        <br>
        <p><%= "<i class='fas fa-star' id='star'></i>".html_safe * rev.rating %><%= "<i class='far fa-star' id='star'></i>".html_safe * (5 - rev.rating) %></p>
        <em><%= rev.content %></em>
        <p class='mt-3'>- <%= rev.user.email.capitalize.match(/^\w*/) %>
      </div>
      <% end %>
    </div>
</div>
<%= render 'modal_new', plant: @plant, booking: @booking %>
<%= render 'modal_gallery', plant: @plant %>
