
<div class="container">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-info">
      <h3><%= @plant.species %></h3>
      <h2><%= @plant.name %></h2>
      <p><%= @plant.description %></p>
    </div>
  <div class="book-btn">
    <%= link_to "Book now", dashboard_path, class: "btn btn-danger" %>
    <%= link_to "Back", plants_path, class: "btn btn btn-info" %>
  </div>
</div>
